<h1><%= I18n.t("moderation.title") %></h1>

<table class="moderation-log">
  <thead>
    <tr>
      <th><%= I18n.t("moderation.timestamp") %></th>
      <th><%= I18n.t("moderation.moderator") %></th>
      <th><%= I18n.t("moderation.targetted_user") %></th>
      <th><%= I18n.t("moderation.post") %></th>
      <th><%= I18n.t("moderation.action") %></th>
  </thead>
  <tbody>
    <% @moderations.each do |mod| %>
      <tr>
	<td><%= format_time mod.created_at %></td>
	<td><%= link_to mod.moderator.nickname, url(:users, :show, mod.moderator.nickname) %></td>
	<td>
	  <% if mod.targetted_user %>
	    <%= link_to mod.targetted_user.nickname, url(:users, :show, mod.targetted_user.nickname) %>
	  <% else %>
	    <%= I18n.t("moderation.nomod") %>
	  <% end %>
	</td>
	<td>
	  <% if mod.post %>
	    <%= link_to "##{mod.post.id}", post_url(mod.post) %>
	  <% else %>
	    <%= I18n.t("moderation.nomod") %>
	  <% end %>
	</td>
	<td><%= mod.action %></td>
      </tr>
    <% end %>
  </tbody>
</table>
