<% content_for :sidebar do %>
  <%= partial "moderation/sidebar" %>
<% end %>

<h1><%= I18n.t("reports.all_reports") %></h1>

<% if @reports.empty? %>
  <p><%= I18n.t("reports.no_reports") %></p>
<% else %>

<% @reports.each do |report| %>
  <div class="report">
    <p class="report-intro">
      On <%= I18n.l(report.created_at, :format => :long) %>, <%= link_to report.user.nickname, url(:users, :show, report.user.nickname) %>
      reported <%= link_to "the following post", url(:topics, :show, report.post.topic.id) + "#p#{report.post.id}" %>
      from the topic <strong><%= report.post.topic.title %></strong>:
    </p>
    <div class="report-post">
      <div class="report-post-content">
	<p class="report-author"><%= I18n.t("models.post.attributes.author_id") %>: <%= link_to report.post.author.nickname, url(:users, :show, report.post.author.nickname) %></p>

	<%= process_markup(report.post.content, report.post.markup_language) %>
      </div>
    </div>
    <div class="report-reason">
      <p><strong><%= I18n.t("reports.reason") %></strong>: <%= report.description %></p>
    </div>
    <ul class="buttons">
      <li><%= link_to I18n.t("reports.close"), url(:reports, :close, report.id) + "?authenticity_token=#{session[:csrf]}", :method => :patch, :class => "button-normal" %></li>
      <li><%= link_to I18n.t("reports.warn_user"), url(:warnings, :new) + "?nickname=#{report.post.author.nickname}", :class => "button-warning" %></li>
      <li><%= link_to I18n.t("reports.delete_post"), url(:posts, :destroy, report.post.topic.id, report.post.id)+ "?authenticity_token=#{session[:csrf]}", :method => :delete, :confirm => I18n.t("general.are_you_sure"), :class => "button-error" %></li>
    </ul>
  </div>
<% end %>

<% end %>
