<tr class="forum">
  <td class="forumicon">
    <% if env["warden"].authenticated? && !env["warden"].user.read_forum?(list_forum) %>
      <%= image_tag "icons/forum_unread.png" %>
    <% else %>
      <%= image_tag "icons/forum_read.png" %>
    <% end %>
  </td>
  <td class="forumname">
    <%= link_to list_forum.name, url(:forums, :show, list_forum.id) %><br/>
    <%= list_forum.description %>
    <% unless list_forum.moderators.empty? %>
      <span class="mods"><%= I18n.t("forums.moderators") %> <%= list_forum.moderators.map(&:nickname).join(", ") %></span>
    <% end %>
  </td>
  <td class="forumtopics numbercell">
    <%= list_forum.topics.count %>
  </td>
  <td class="forumposts numbercell">
    <%= list_forum.topics.joins(:posts).count %>
  </td>
  <td class="forumlastpost">
    <% post = Post.joins(:topic).joins("INNER JOIN forums ON topics.forum_id = forums.id").where("forums.id = ?", list_forum.id).order(:created_at => :desc).first %>
    <% if post %>
      <%= format_time post.created_at %><br/>
      <%= I18n.t("forums.author_by") %> <%= link_to(post.author.nickname, url(:users, :show, post.author.nickname)) %>
    <% else %>
      <%= I18n.t("general.never") %>
    <% end %>
  </td>
</tr>
