<% if env["warden"].authenticated? %>
  <p class="top-right-nav"><%= link_to I18n.t("topics.mark_all_as_read"), url(:users, :all_read, env["warden"].user.nickname) + "?authenticity_token=#{session[:csrf]}", :method => :post, :class => "button-normal" %></p>
<% end %>
<h1><%= I18n.t("general.forum_overview") %></h1>

<% @forum_groups.each do |group| %>
  <div class="forumgroup">
    <p class="forumgroupname"><%= group.name %></p>

    <table class="forumlist">
      <thead>
	<tr>
	  <th class="forumname"><%= I18n.t("forums.forum") %></th>
	  <th class="forumtopics numbercell"><%= I18n.t("forums.topics") %></th>
	  <th class="forumposts numbercell"><%= I18n.t("forums.posts") %></th>
	  <th class="forumlastpost"><%= I18n.t("forums.lastpost") %></th>
	</tr>
      </thead>
      <tbody>
	<%= partial "forums/list_forum", :collection => group.forums.order("name ASC") %>
      </tbody>
    </table>
  </div>
<% end %>
