<div id="navigation">
  <ul class="vlist">
    <li><a href="/forums"><%= t.general.index %></a></li>

    <li><a href="/search"><%= t.search.title %></a></li>

    <% if Chessboard::Configuration[:forum_rules] %>
      <li><a href="/forum_rules"><%= t.general.forum_rules %></a></li>
    <% end %>

    <% if Chessboard::Configuration[:imprint] %>
      <li><a href="/imprint"><%= t.general.imprint %></a></li>
    <% end %>

    <% if logged_in? %>
      <li><a href="/settings"><%= t.personal.settings %></a></li>
      <% if logged_in_user.admin? %>
	<li><a href="/admin"><%= t.admin.administration %></a></li>
      <% end %>
    <% elsif !Chessboard::Configuration[:ldap] %>
      <li><a href="/users/register"><%= t.general.register %></a></li>
    <% end %>

    <% if logged_in? %>
      <li><a href="/logout"><%= t.general.log_out %></a></li>
    <% else %>
      <li><a href="/login"><%= t.general.log_in %></a></li>
    <% end %>
  </ul>
</div>
