<% level ||= 0 %>
<% disable_actions ||= false %>
<% watched_posts = thread_info[:watched_posts] %>
<% author = thread_info[:authors][post.author_id][:user] %>
<% attachments = thread_info[:attachments][post.id].values %>

<div class="post post-nest-<%= level %>">
  <div class="post-author">
    <p class="author-name"><a href="/users/<%= post.author_id %>"><%= h post.used_alias %></a></p>
    <p class="author-membership"><%= author.title %></p>
    <% if author.avatar? %>
      <p class="author-avatar"><img src="<%= author.avatar_url %>" alt="<%= t.users.avatar_alt %>"/></p>
    <% end %>
    <p class="author-registered"><%= t.users.registered %>: <%= l author.created_at %></p>
    <p class="author-posts"><%= t.users.posts %>:
      <%= thread_info[:authors][post.author_id][:post_count] %></p>
    <% if logged_in? && logged_in_user.admin? %>
      <p class="author-ip">IP:
        <% if post.ip.to_s.empty? %>
          <%= t.posts.no_ip %>
        <% else %>
          <%= post.ip %>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class="post-content">
    <div class="header post-header">
      <div class="post-created">
	<p><%= l post.created_at, :full %></p>
      </div>
      <div class="post-num">
	<p>
	  <a href="/forums/<%= forum.id %>/threads/<%= post.id %>">¶</a>
	  <a href="/forums/<%= forum.id %>/topics/<%= post.id %>">↓</a>
	  <span class="post-title"><%= h post.title %></span>
	</p>
      </div>
    </div>

    <ul class="vlist post-actions">
      <% if logged_in? && !disable_actions %>
	<li><a href="/forums/<%= forum.id %>/posts/<%= post.id %>/report"><img src="/images/icons/report.png" alt="report this"/>&nbsp;<%= t.posts.report_this %></a></li>

	<% if logged_in_user.admin? %>
	  <li><a href="/forums/<%= forum.id %>/posts/<%= post.id %>" class="delete-post"><img src="/images/icons/delete.png" alt="delete this"/>&nbsp;<%= t.posts.delete %></a></li>
	  <% if post.announcement? %>
	    <li><a href="/forums/<%= forum.id %>/posts/<%= post.id %>/unannounce"><img src="/images/icons/topic_announcement_read.png" alt="mark as announcement"/>&nbsp;<%= t.posts.unmark_announce %></a></li>
	  <% else %>
	    <li><a href="/forums/<%= forum.id %>/posts/<%= post.id %>/announce"><img src="/images/icons/topic_announcement_unread.png" alt="unmark as announcement"/>&nbsp;<%= t.posts.mark_announce %></a></li>
	  <% end %>

	  <% if post.sticky? %>
	    <li><a href="/forums/<%= forum.id %>/posts/<%= post.id %>/unstick"><img src="/images/icons/topic_sticky_read.png" alt="mark as sticky"/>&nbsp;<%= t.posts.unmark_sticky %></a></li>
	  <% else %>
	    <li><a href="/forums/<%= forum.id %>/posts/<%= post.id %>/stick"><img src="/images/icons/topic_sticky_unread.png" alt="unmark as sticky"/>&nbsp;<%= t.posts.mark_sticky %></a></li>
	  <% end %>
	<% end %>
      <% end %>
    </ul>

    <div class="post-text">
      <% if post.was_html_only %>
	<p class="html-only-post"><%= t.posts.was_html_only %></p>
      <% end %>
      <div class="post-raw-markup"><%= process_raw(post.content) %></div>
      <div class="clear"></div>
    </div>

    <% if logged_in? && !disable_actions %>
      <ul class="vlist post-bottom-actions">
	<li><a class="button-normal" href="/forums/<%= forum.id %>/posts/<%= post.id %>/reply"><%= t.posts.reply %></a></li>
	<li>
	  <% if watched_posts.include?(post.id) %>
	    <a class="button-normal" href="/forums/<%= forum.id %>/posts/<%= post.id %>/unwatch"><%= t.posts.unwatch %></a>
	  <% else %>
	    <a class="button-normal" href="/forums/<%= forum.id %>/posts/<%= post.id %>/watch"><%= t.posts.watch %></a>
	  <% end %>
	</li>
      </ul>
    <% end %>

    <% unless attachments.empty? %>
      <div class="post-attachments">
      <% attachments.each do |attachment| %>
        <div class="post-attachment">
          <div class="attachment-icon"><!-- for screenreaders not an <img> --></div>
          <p>
            <strong><%= t.posts.attachment %></strong> <a href="<%= attachment.absolute_url %>"><%= attachment.filename %></a> (<%= readable_bytesize(File.size(attachment.absolute_path)) %>)
          </p>

          <% if attachment.image? %>
	    <a href="<%= attachment.absolute_url %>" class="attachment-preview"><img src="<%= attachment.absolute_url %>" alt="<%= attachment.filename %>"/></a>
          <% end %>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
