<form action="<%= target %>" accept-charset="UTF-8" method="post" enctype="multipart/form-data">
  <p>
    <label for="title"><%= t.posts.title %>:</label><br/>
    <input type="text" name="title" id="post-title" value="<%= suggested_title %>" autofocus="autofocus"/>
  </p>
  <p>
    <label for="content"><%= t.posts.content %>:</label><br/>
    <textarea name="content" id="content"></textarea>
  </p>
  <p id="automatic_line_breaks_container">
    <input type="checkbox" name="automatic_line_breaks" id="automatic_line_breaks"/>
    <label for="automatic_line_breaks"><%= t.posts.automatic_line_breaks %></label>
  </p>

  <% unless tags.empty? %>
    <p>
      <%= t.admin.tags %>:
    </p>

    <p>
      <% tags.each do |tag| %>
	<span class="tag-selector">
	  <input type="checkbox" name="tags[<%= tag.id %>]" id="tag-<%= tag.id %>" value="1"/>
	  <label for="tag-<%= tag.id %>" class="tag" style="background-color: #<%= tag.color %>"><%= tag.name %></label>
	</span>
      <% end %>
    </p>
  <% end %>

  <p>
    <%= t.posts.reply_line_length %>
  </p>

  <p>
    <%= t.posts.attachments %>:
  </p>

  <p class="add-attachment">
    <button class="button-normal large-button"><%= t.posts.add_attachment %></button>
    <%= t.posts.attachment_max_size readable_bytesize(Chessboard::Configuration[:max_total_attachment_size]) %>
  </p>

  <div class="edit-attachments">
    <!-- Target for JavaScript -->
  </div>

  <p class="submit-separator">
    <input type="submit" value="<%= t.general.create %>" class="button-ok"/>
    <!--<input type="button" value="<%# t.general.preview %>" class="button-normal" id="preview-button"/>-->
  </p>
</form>

<div class="preview"></div>
