<%# Template expects that "post" itself is already displayed. %>

<ul>
  <% post.replies.each do |reply| %>
    <li>
      <%# Forced thread view is intended. %>
      <a href="/forums/<%= @forum.id %>/threads/<%= reply.id %>"><%= reply.title %></a>
      <div class="intree-post">
	<%= erb :_post, :locals => {:post => reply, :forum => forum} %>
      </div>
      <%= erb :_thread_tree_post, :locals => {:post => reply, :forum => forum} %>
    </li>
  <% end %>
</ul>
