<% if logged_in? %>
  <p class="top-right-nav"><%# link_to I18n.t("forums.new_topic"), url(:topics, :new) + "?" + "forum=#{@forum.id}", :class => "button-normal" %></p>
<% end %>
<h1><%= @forum[:name] %></h1>

<table class="topicslist">
  <thead>
    <tr>
      <th class="list-icon imgcell"></th>
      <th class="list-topic"><%= t.forums.topic %></th>
      <th class="list-replies numbercell"><%= t.forums.replies %></th>
      <th class="list-views numbercell"><%= t.forums.views %></th>
      <th class="forumlastpost"><%= t.forums.lastpost %></th>
    </tr>
  </thead>
  <tbody>
    <%# partial "topics/forum_topic", :collection => @topics[:announcements] %>
    <% @forum.thread_starters.each do |post| %>
      <%= erb  :_forum_topic, :locals => {:thread_starter => post} %>
    <% end %>
  </tbody>
</table>

<%# Page navigation %>
<% if @total_pages > 1 %>
  <ul class="vlist forum-pages">
    <% if @current_page > 1 %>
      <li><a href="/forums/<%= @forum[:id] %>?page=<%= @current_page - 1 %>"><%= t.topics.prev_page %></a></li>
    <% end %>

    <% if @total_pages <= 5 %>
      <% 1.upto(@total_pages) do |i| %>
        <li><a href="/forums/<%= @forum[:id] %>?page=<%= i %>"><%= i %></a></li>
      <% end %>
    <% elsif @total_pages > 5 %>
      <% 1.upto(4) do |i| %>
	<li><a href="/forums/<%= @forum[:id] %>?page=<%= i %>"><%= i %></a></li>
      <% end %>
      <li>…</li>
      <li><a href="/forums/<%= @forum[:id] %>?page=<%= @total_pages %>"><%= @total_pages %></a></li>
    <% end %>

    <% if @current_page < @total_pages %>
      <li><a href="/forums/<%= @forum[:id] %>?page=<%= @current_page + 1 %>"><%= t.topics.next_page %></a></li>
    <% end %>
  </ul>
<% end %>
