<%# if env["warden"].authenticated? %>
  <p class="top-right-nav"><%# link_to I18n.t("topics.mark_all_as_read"), url(:users, :all_read, env["warden"].user.nickname) + "?authenticity_token=#{session[:csrf]}", :method => :post, :class => "button-normal" %></p>
<%# end %>
<h1><%= t.general.forum_overview %></h1>

<% @forums.each do |forum| %>
  <table class="forumlist">
    <thead>
      <tr>
	<th class="forumicon imgcell"></th>
	<th class="forumname"><%= t.forums.forum %></th>
	<th class="forumtopics numbercell"><%= t.forums.topics %></th>
	<th class="forumposts numbercell"><%= t.forums.posts %></th>
	<th class="forumlastpost"><%= t.forums.lastpost %></th>
      </tr>
    </thead>
    <tbody>
      <% @forums.each do |forum| %>
	<%= erb :_list_forum, :locals => {:forum => forum} %>
      <% end %>
    </tbody>
  </table>
<% end %>
