<% if @login_required %>
  <p class="flash alert">
    <%= t.general.must_log_in %>
  </p>
<% end %>

<h1><%= t.general.log_in %></h1>

<form action="/login" method="post">
  <p>
    <%= t.general.nickname %><br/>
    <input type="text" name="uid" autofocus="autofocus"/>
  </p>

  <p>
    <%= t.general.password %><br/>
    <input type="password" name="password"/>
  </p>

  <p class="submit-separator">
    <input type="submit" value="<%= t.general.log_in %>" class="button-ok"/>
    <a href="/forgotpw"><%= t.users.forgotpw.forgot %></a>
  </p>
</form>
