<% content_for :header do %>
  <script type="text/javascript" src="/javascripts/attachments.js"></script>
<% end %>

<h1><%= t.posts.reply %></h1>

<h2><%= t.posts.your_reply %></h2>

<%= erb :_reply_form, :locals => {:forum => @forum, :post => @post, :suggested_title => @suggested_title, :tags => @tags} %>

<h2><%= t.posts.replied_to_post %></h2>

<%= erb :_post, :locals => {:post => @post, :forum => @forum, :disable_actions => true} %>
