<% content_for :header do %>
  <script type="text/javascript" src="/javascripts/attachments.js"></script>
<% end %>

<h1><%= t.posts.reply %></h1>

<h2><%= t.posts.your_reply %></h2>

<%= erb :_reply_form, :locals => {:suggested_title => @suggested_title, :tags => @tags, :target => "/forums/#{@forum.id}/posts/#{@post.id}/reply"} %>

<h2><%= t.posts.replied_to_post %></h2>

<%= erb :_post, :locals => {:post => @post, :forum => @forum, :disable_actions => true, :thread_info => @thread_info} %>
