<p class="post-forum"><a href="/forums/<%= @forum.id %>"><%= @forum.name %></a></p>
<h1><%= h @root_post.pretty_title %></h1>

<% unless @root_post.thread_starter? %>
  <div class="flash info">
    <p><%= t.topics.partial %></p>
    <ul>
      <li><a href="/forums/<%= @forum.id %>/threads/<%= @root_post.parent_id %>"><%= t.topics.partial_parent %></a></li>
      <li><a href="/forums/<%= @forum.id %>/threads/<%= @root_post.thread_starter.id %>"><%= t.topics.partial_root %></a></li>
    </ul>
  </div>
<% end %>

<div class="topic thread">
  <%= erb :_post, :locals => {:post => @root_post, :forum => @forum, :recurse => false} %>

</div>

<ul class="topic-actions topic-actions-thread">
  <% unless @root_post.replies.empty? %>
    <li class="expand-all"><a href="#" class="button-normal"><%= t.topics.expand_all %></a></li>
    <li class="collapse-all"><a href="#" class="button-normal"><%= t.topics.collapse_all %></a></li>
  <% end %>

  <% if logged_in? %>

      <%# if @topic.watchers.include?(env["warden"].user) %>
        <!--<li><%# link_to I18n.t("topics.unwatch"), url(:topics, :unwatch, @topic.id) + "?authenticity_token=#{session[:csrf]}", :class => "button-normal", :method => :patch %></li>-->
      <%# else %>
        <!--<li><%# link_to I18n.t("topics.watch"), url(:topics, :watch, @topic.id) + "?authenticity_token=#{session[:csrf]}", :class => "button-normal", :method => :patch %></li>-->
      <%# end %>
  <% end %>
</ul>

<div class="clear"></div>

<% unless @root_post.replies.empty? %>
  <div class="thread-tree">
    <%= erb :_thread_tree_post, :locals => {:post => @root_post, :forum => @forum} %>
  </div>
<% end %>
