<%
  if env["warden"].authenticated?
    user = env["warden"].user
    is_read = user.read?(forum_topic)

    if forum_topic.announcement? && !is_read
      extra_class = "topic-announcement topic-unread"
      image = "icons/topic_announcement_unread.png"
    elsif forum_topic.announcement?
      extra_class = "topic-announcement topic-read"
      image = "icons/topic_announcement_read.png"
    elsif forum_topic.sticky? && !is_read
      extra_class = "topic-sticky topic-unread"
      image = "icons/topic_sticky_unread.png"
    elsif forum_topic.sticky?
      extra_class = "topic-sticky topic-read"
      image = "icons/topic_sticky_read.png"
    elsif forum_topic.locked?
      extra_class = "topic-locked"
      image = "icons/topic_normal_locked.png"
    elsif !is_read
      extra_class = "topic-unread"
      image = "icons/topic_normal_unread.png"
    else
      extra_class = "topic-read"
      image = "icons/topic_normal_read.png"
    end
  else
    if forum_topic.announcement?
      extra_class = "topic-announcement topic-read"
      image = "icons/topic_announcement_read.png"
    elsif forum_topic.sticky?
      extra_clsas = "topic-sticky topic-read"
      image = "icons/topic_sticky_read.png"
    elsif forum_topic.locked?
      extra_class = "topic-locked"
      image = "icons/topic_normal_locked.png"
    else
      extra_class = "topic-read"
      image = "icons/topic_normal_read.png"
  end
end %>
<tr class="forum-topic <%= extra_class %>">
  <td class="list-icon imgcell">
    <%= image_tag image %>
  </td>
  <td class="list-topic">
    <%= link_to forum_topic.title, url(:topics, :show, forum_topic.id) %><br/>
    <%= I18n.t("forums.author_by") %> <%= link_to forum_topic.author.nickname, url(:users, :show, forum_topic.author.nickname) %>

    <% total_pages = (forum_topic.posts.count.to_f / GlobalConfiguration.instance.page_post_num.to_f).ceil %>
    <% if total_pages > 1 %>
      | <%= I18n.t("topics.pages") %>
      <ul class="topic-pages topic-pages-forum">
	<%= partial "topics/topic_pages", :locals => {:topic => forum_topic, :total_pages => total_pages} %>
      </ul>
    <% end %>
  </td>
  <td class="list-replies numbercell"><%= forum_topic.posts.count - 1 %><%# OP is not a reply %></td>
  <td class="list-views numbercell"><%= forum_topic.views %></td>
  <td class="forumlastpost">
    <% post = forum_topic.posts.order("created_at DESC").first %>
    <%= format_time post.created_at %><br/>
    <%= I18n.t("forums.author_by") %> <%= link_to post.author.nickname, url(:users, :show, post.author.nickname) %>
  </td>
</tr>
