<tr class="forum-topic">
  <td class="list-topic">
    <%= link_to forum_topic.title, url(:topics, :show, forum_topic.id) %><br/>
    <%= I18n.t("forums.author_by") %> <%= link_to forum_topic.author.nickname, "/" %>
  </td>
  <td class="list-replies numbercell"><%= forum_topic.posts.count %></td>
  <td class="list-views numbercell">TODO</td>
  <td class="forumlastpost">
    <% post = forum_topic.posts.order("created_at DESC").first %>
    <%= post.created_at.strftime("%Y-%m-%d %H:%M") %><br/>
    <%= I18n.t("forums.author_by") %> <%= link_to post.author.nickname, "/" %>
  </td>
</tr>
