<h1><%= I18n.t("forums.new_topic") %></h1>

<% unless @topic.errors.empty? %>
<div class="flash alert">
  <p><%= I18n.t("general.errors_occured") %></p>
  <ul>
    <% @topic.errors.messages.each do |key, msg| %>
      <li><%= key %>: <%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% form_for @topic, url(:topics, :create), :method => :post do |f| %>
  <%= f.hidden_field :forum_id, :value => @forum.id %>

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <% f.fields_for :posts do |f2| %>
    <%= partial "posts/form_fields", :locals => {:form => f2, :post => @topic.posts.first} %>
  <% end %>

  <% if env["warden"].user.admin? || env["warden"].user.moderates?(@forum) %>
    <p>
      <%= f.check_box :sticky %><%= f.label :sticky %>
    </p>
  <% end %>

  <% if env["warden"].user.admin? %>
    <p>
      <%= f.check_box :announcement %><%= f.label :announcement %>
    </p>
  <% end %>

  <p class="submit-separator">
    <%= f.submit I18n.t("general.create"), :class => "button-ok" %>
  </p>
<% end %>
