<p class="post-forum"><%= link_to "â† #{@topic.forum.name}", url(:forums, :show, @topic.forum.id) %></p>
<h1><%= @topic.title %></h1>

<% @topic.posts.order("created_at ASC").each_with_index do |post, i| %>
  <%= partial "posts/show", :locals => {:post => post, :i => i} %>
<% end %>

<ul class="post-actions">
  <li><%= link_to I18n.t("topics.lock"), "/", :class => "button-normal" %></li>
  <li><%= link_to I18n.t("topics.reply"), url(:posts, :new, @topic.id), :class => "button-normal" %></li>
</ul>

<% if env["warden"].authenticated? %>
  <% form_for Post.new, url(:posts, :create, @topic.id), :method => :post, :class => "quickreply-form", :"data-topicid" => @topic.id do |f| %>
    <h2><%= I18n.t("topics.reply") %></h2>
    <%= partial "posts/form_fields", :locals => {:form => f} %>

    <p class="submit-separator">
      <%= f.submit I18n.t("general.create"), :class => "button-ok" %>
    </p>
  <% end %>
<% end %>
