<p class="post-forum"><%= link_to "â† #{@topic.forum.name}", url(:forums, :show, @topic.forum.id) %></p>
<h1><%= @topic.title %></h1>

<% @topic.posts.order("created_at ASC").each_with_index do |post, i| %>
  <%= partial "posts/show", :locals => {:post => post, :i => i} %>
<% end %>

<ul class="post-actions">
  <li><%= link_to I18n.t("topics.lock"), "/", :class => "button-normal" %></li>
  <li><%= link_to I18n.t("topics.reply"), url(:posts, :new, @topic.id), :class => "button-normal" %></li>
</ul>

<% if env["warden"].authenticated? %>
  <%= partial "posts/quickreply", :locals => {:post => Post.new, :topic => @topic} %>
<% end %>
