<p class="post-forum"><%= link_to "â† #{@topic.forum.name}", url(:forums, :show, @topic.forum.id) %></p>
<h1><%= @topic.title %></h1>

<div class="topic">
<% @topic.posts.order("created_at ASC").each_with_index do |post, i| %>
  <div class="post">
    <div class="post-author">
      <p class="author-name"><%= post.author.nickname %></p>
      <p class="author-rank"><%= post.author.rank %></p>
      <p class="author-registered">Registered: <%= post.author.created_at.strftime("%Y-%m-%d") %></p>
      <p class="author-posts">Posts: <%= post.author.posts.count %></p>
    </div>

    <div class="post-content">
      <div class="post-header">
	<div class="post-created">
	  <p><%= post.created_at %></p>
	</div>
	<div class="post-num">
	  <p><a href="/topics/<%= @topic.id %>#p<%= post.id %>" name="p<%= post.id %>">#<%= i + 1 %></a></p>
	</div>
      </div>

      <div class="post-text">
	<p><%= post.content %></p>
      </div>
    </div>
  </div>
<% end %>
</div>
