<% content_for :sidebar do %>
  <%= partial "misc/personal_sidebar" %>
<% end %>

<h1><%= I18n.t("settings.profile_settings") %></h1>

<% unless @user.errors.empty? %>
<div class="flash alert">
  <p><%= I18n.t("general.errors_occured") %></p>
  <ul>
    <% @user.errors.messages.each do |key, msg| %>
      <li><%= key %>: <%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% form_for @user, url(:users, :update, @user.nickname), :method => :patch, :class => "settings-form" do |f| %>

  <div class="setting">
    <div class="header settings-header">
      <%= f.label :homepage %>
    </div>

    <div class="settings-content">
      <%= f.text_field :homepage %>
    </div>
  </div>

  <div class="setting">
    <div class="header settings-header">
      <%= f.label :real_name %>
    </div>

    <div class="settings-content">
      <%= f.text_field :real_name %>
    </div>
  </div>

  <div class="setting">
    <div class="header settings-header">
      <%= f.label :location %>
    </div>

    <div class="settings-content">
      <%= f.text_field :location %>
    </div>
  </div>

  <div class="setting">
    <div class="header settings-header">
      <%= f.label :profession %>
    </div>

    <div class="settings-content">
      <%= f.text_field :profession %>
    </div>
  </div>

  <div class="setting">
    <div class="header settings-header">
      <%= f.label :jabber_id %>
    </div>

    <div class="settings-content">
      <%= f.text_field :jabber_id %>
    </div>
  </div>

  <div class="setting">
    <div class="header settings-header">
      <%= f.label :pgp_key %>
    </div>

    <div class="settings-content">
      <%= f.text_field :pgp_key %>
    </div>
  </div>

  <div class="setting">
    <div class="header settings-header">
      <%= f.label :signature %>
    </div>

    <div class="settings-desc">
      <%= I18n.t("settings.descriptions.signature") %>
    </div>

    <div class="settings-content">
      <%= f.text_area :signature %>
    </div>
  </div>

  <p class="submit-separator">
    <%= f.submit I18n.t("general.update"), :class => "button-ok" %>
  </p>
<% end %>
