<h1><%= I18n.t("users.forgotpw.forgotpw") %></h1>

<% form_tag url(:users, :forgotpw), :method => :post do %>
  <p><%= I18n.t("users.forgotpw.forgotpw_desc") %></p>
  <p>
    <label for="nickname"><%= I18n.t("models.user.attributes.nickname") %>:</label><br/>
    <%= text_field_tag :nickname %>
  </p>
  <p class="submit-separator"><%= submit_tag I18n.t("general.reset"), :class => "button-warning" %></p>
<% end %>
