<h1><%= I18n.t("users.profile", :nick => @user.nickname) %></h1>

<div class="user-profile">
  <div class="profile-system-info">
    <div class="profile-avatar">
      <%= image_tag @user.avatar_link if @user.avatar_link %>
      <p class="profile-nickname"><%= @user.nickname %></p>
      <p class="profile-membership"><%= @user.membership %></p>
    </div>
    <% unless @user.homepage.blank? %>
      <div class="profile-website">
	<p><%= link_to I18n.t("models.user.attributes.homepage"), @user.homepage %></p>
      </div>
    <% end %>
  </div>
  <div class="profile-user-info">
    <ul>
      <li><%= I18n.t("models.user.attributes.realname") %>: <%= @user.realname %></li>
      <li>
	<%= I18n.t("models.user.attributes.email") %>:
	<% if @user.settings.hide_email? %>
	  <% if env["warden"].user.privileged? %>
	    <%= @user.email %> <em>[<%= I18n.t("users.hidden_email_for_unprivileged") %>]</em>
	  <% else %>
	    <%= I18n.t("users.hidden_email") %>
	  <% end %>
	<% else %>
	  <%= @user.email %>
	<% end %>
      </li>
      <li><%= I18n.t("models.user.attributes.location") %>: <%= @user.location %></li>
      <li><%= I18n.t("models.user.attributes.profession") %>: <%= @user.profession %></li>
      <li><%= I18n.t("models.user.attributes.jabber_id") %>: <%= @user.jabber_id %></li>
      <li><%= I18n.t("models.user.attributes.pgp_key") %>: <%= @user.pgp_key %></li>
    </ul>
  </div>
  <table class="profile-user-stats">
    <thead>
      <tr>
	<th><%= I18n.t("models.user.attributes.created_at") %></th>
	<th>Last login</th>
	<th>Warnings</th>
	<th><%= I18n.t("users.total_posts") %></th>
      </tr>
    </thead>
    <tbody>
      <td><%= format_time(@user.created_at) %></td>
      <td><%= @user.last_login? ? format_time(@user.last_login) : I18n.t("general.never") %></td>
      <td><%= @user.received_warnings.count %></td>
      <td><%= @user.posts.count %></td>
    </tbody>
  </table>
  <% if @user.signature? %>
    <div class="signature profile-user-signature">
      <%= markup_default(@user.signature).html_safe %>
    </div>
  <% end %>

  <% if env["warden"].user.privileged? %>
    <h2><%= I18n.t("warnings.warnings") %></h2>

    <% if @user.received_warnings.empty? %>
      <p><%= I18n.t("warnings.no_warnings") %></p>
    <% else %>
      <div class="profile-user-warnings">
	<%= partial "warnings/list_warning", :collection => @user.received_warnings.order(:created_at => :desc) %>
      </div>
    <% end %>
  <% end %>
</div>
