<h1><%= I18n.t("users.profile", :nick => @user.nickname) %></h1>

<div class="user-profile">
  <div class="profile-system-info">
    <div class="profile-avatar">
      <%= image_tag @user.settings.avatar if @user.settings.avatar %>
      <p class="profile-nickname"><%= @user.nickname %></p>
      <p class="profile-membership"><%= @user.membership %></p>
    </div>
    <% unless @user.homepage.blank? %>
      <div class="profile-website">
	<p><%= link_to I18n.t("models.user.attributes.homepage"), @user.homepage %></p>
      </div>
    <% end %>
  </div>
  <div class="profile-user-info">
    <ul>
      <li><%= I18n.t("models.user.attributes.realname") %>: <%= @user.realname %></li>
      <li><%= I18n.t("models.user.attributes.email") %>: <%= @user.email %></li>
      <li><%= I18n.t("models.user.attributes.location") %>: <%= @user.location %></li>
      <li><%= I18n.t("models.user.attributes.profession") %>: <%= @user.profession %></li>
      <li><%= I18n.t("models.user.attributes.jabber_id") %>: <%= @user.jabber_id %></li>
      <li><%= I18n.t("models.user.attributes.pgp_key") %>: <%= @user.pgp_key %></li>
    </ul>
  </div>
  <table class="profile-user-stats">
    <thead>
      <tr>
	<th><%= I18n.t("models.user.attributes.created_at") %></th>
	<th>Last login</th>
	<th>Warnings</th>
	<th><%= I18n.t("users.total_posts") %></th>
      </tr>
    </thead>
    <tbody>
      <td><%= format_time(@user.created_at) %></td>
      <td>TODO</td>
      <td>TODO</td>
      <td><%= @user.posts.count %></td>
    </tbody>
  </table>
  <% if @user.signature? %>
    <div class="signature profile-user-signature">
      <%= markup_bbcode(@user.signature).html_safe %>
    </div>
  <% end %>
</div>
