<div class="post">
  <div class="post-author">
    <p class="author-name"><%= link_to post.author.nickname, url(:users, :show, post.author.nickname) %></p>
    <p class="author-membership"><%= post.author.membership %></p>
    <% if post.author.avatar_link %>
	<p class="author-avatar"><%= image_tag post.author.avatar_link, :alt => "User avatar" %></p>
    <% end %>
    <p class="author-registered">Registered: <%= post.author.created_at.strftime("%Y-%m-%d") %></p>
    <p class="author-posts">Posts: <%= post.author.posts.count %></p>
  </div>

  <div class="post-content">
    <div class="header post-header">
	<div class="post-created">
	  <p><%= I18n.l post.created_at, :format => :long %></p>
	</div>
	<div class="post-num">
	  <p><%= link_to "##{i + 1}", ppost_url(post), :name => "p#{post.id}" %></p>
	</div>
    </div>

    <% if post.author == env["warden"].user %>
	<ul class="post-actions">
	  <li><%= link_to image_tag("icons/delete.png") + "&nbsp;".html_safe + I18n.t("posts.delete"), url(:personal_posts, :destroy, post.personal_message.id, post.id) + "?authenticity_token=#{session[:csrf]}", :method => :delete, :confirm => I18n.t("general.are_you_sure") %></li>
	  <li><%= link_to image_tag("icons/edit.png") + "&nbsp;".html_safe + I18n.t("posts.edit"), url(:personal_posts, :edit, post.personal_message.id, post.id) %></li>
	</ul>
    <% end %>

    <div class="post-text">
	<%= process_markup(post.content, post.markup_language) %>
    </div>

    <% if post.author.signature? %>
	<div class="signature post-signature">
	  <%= markup_default(post.author.signature).html_safe %>
	</div>
    <% end %>
  </div>
</div>
