<% content_for :sidebar do %>
  <%= partial "moderation/sidebar" %>
<% end %>

<h1><%= I18n.t("bans.bans") %></h1>

<p><%= I18n.t("bans.ban_intro") %></p>

<table>
  <thead>
    <tr>
      <th><%= I18n.t("models.ban.attributes.nick_pattern") %></th>
      <th><%= I18n.t("models.ban.attributes.email_pattern") %></th>
      <th><%= I18n.t("models.ban.attributes.ip_range") %></th>
      <th><%= I18n.t("models.ban.attributes.expiration_date") %></th>
      <th><%= I18n.t("models.ban.attributes.reason") %></th>
      <th><%= I18n.t("general.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bans.each do |ban| %>
      <tr>
	<td><%= ban.nick_pattern %></td>
	<td><%= ban.email_pattern %></td>
	<td><%= ban.ip_range %></td>
	<td><%= ban.expiration_date? ? I18n.l(ban.expiration_date, :format => :long) : I18n.t("general.never") %></td>
	<td><%= ban.reason %></td>
	<td>
	  <%= link_to I18n.t("general.edit"), url(:bans, :edit, ban.id), :class =>"button-normal" %>
	  <%= link_to I18n.t("general.delete"), url(:bans, :destroy, ban.id) + "?authenticity_token=#{session[:csrf]}", :method => :delete, :confirm => I18n.t("general.are_you_sure"), :class =>"button-error" %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to I18n.t("bans.new_ban"), url(:bans, :new), :class => "button-normal" %>
</p>
