<h1><%= I18n.t("bans.new_ban") %></h1>

<% unless @ban.errors.empty? %>
<div class="flash alert">
  <p><%= I18n.t("general.errors_occured") %></p>
  <ul>
    <% @ban.errors.messages.each do |key, msg| %>
      <li><%= key %>: <%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% form_for @ban, url(:bans, :create), :method => :post do |f| %>
  <p>
    <%= I18n.t("bans.nick_pattern_intro") %>
  </p>
  <p>
    <%= f.label :nick_pattern %><br/>
    <%= f.text_field :nick_pattern, :value => @ban.nick_pattern || params["nickpattern"] %>
  </p>

  <p>
    <%= I18n.t("bans.email_pattern_intro") %>
  </p>
  <p>
    <%= f.label :email_pattern %><br/>
    <%= f.text_field :email_pattern %>
  </p>

  <p>
    <%= I18n.t("bans.ip_range_intro") %>
  </p>
  <p>
    <%= f.label :ip_range %><br/>
    <%= f.text_field :ip_range %>
  </p>

  <p>
    <%= f.label :reason %><br/>
    <%= f.text_area :reason %>
  </p>

  <p>
    <%= f.label :expiration_date %><br/>
    <%= f.text_field :expiration_date %>
  </p>

  <p class="submit-separator">
    <%= f.submit I18n.t("general.create"), :class => "button-ok" %>
  </p>
<% end %>
