<h1><%= I18n.t("warnings.new") %></h1>

<% unless @warning.errors.empty? %>
<div class="flash alert">
  <p><%= I18n.t("general.errors_occured") %></p>
  <ul>
    <% @warning.errors.messages.each do |key, msg| %>
      <li><%= key %>: <%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% form_for @warning, url(:warnings, :create), :method => :post do |f| %>

  <p>
    <label id="warning[nickname]"><%= I18n.t("general.nickname") %>:</label><br/>
    <% nick = @warning.warned_user ? @warning.warned_user.nickname : params["nickname"] %>
    <%= f.text_field :nickname, :value => nick %>
  </p>

  <p>
    <%= f.label :reason %><br/>
    <%= f.text_area :reason %>
  </p>

  <p class="submit-separator">
    <%= f.submit I18n.t("general.create"), :class => "button-ok" %>
  </p>
<% end %>
