<% content_for :sidebar do %>
  <%= partial "misc/personal_sidebar" %>
<% end %>

<h1><%= I18n.t("avatars.avatar_settings") %></h1>

<% unless @avatar.errors.empty? %>
<div class="flash alert">
  <p><%= I18n.t("general.errors_occured") %></p>
  <ul>
    <% @avatar.errors.messages.each do |key, msg| %>
      <li><%= key %>: <%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% form_for @avatar, url(:avatars, :create, @user.nickname), :method => :put, :class => "settings-form" do |f| %>
  <div class="setting">
  <div class="setting">
    <div class="header settings-header">
      <label><%= I18n.t("avatars.avatar") %></label>
    </div>

    <div class="settings-desc">
      <%# Actually width and height cannot be different... %>
      <%= I18n.t("avatars.avatar_info", :width => GlobalConfiguration.instance.maximum_avatar_dimension, :height => GlobalConfiguration.instance.maximum_avatar_dimension) %>
    </div>

    <div class="settings-content">
      <%= f.file_field :avatar %>
    </div>

    <%# User may have not uploaded an avatar yet %>
    <% unless @avatar.new_record? %>
      <%= image_tag @avatar.full_uri, :alt => "User avatar" %>
    <% end %>

    <p class="submit-separator">
      <%= f.submit I18n.t("general.update"), :class => "button-ok" %>
      <%= link_to I18n.t("general.delete"), url(:avatars, :destroy, @user.nickname) + "?authenticity_token=#{session[:csrf]}", :method => :delete, :class => "button-error" %>
    </p>
  </div>
<% end %>
