<%# Just the form fields required for creating a post, as they
    are required at so many places. Be sure to pass the :form
    and :post local variables to this partial. %>

<%= call_hook(:view_reply_pre_content, :post => post, :form => form) %>

<p>
  <%= form.label :content %><br/>
  <%= form.text_area :content %>
</p>
<p>
  <%= form.label :markup_language %>&nbsp;<%= form.select(:markup_language, :options => Post.all_markup_languages) %>
</p>

<% if Chessboard.config.attachments_enabled %>
  <p class="add-attachment"><button class="button-normal large-button"><%= I18n.t("posts.add_attachment") %></button></p>

  <div class="edit-attachments">
    <% post.attachments.each do |attach| %>
      <div class="old-attachment">
	<p>
	  <strong><%= attach.filename %></strong>
	  <input type="hidden" name="delete_attachments[][_delete]" value="0"/><!-- transmit 0 if unset -->
	  <input type="checkbox" name="delete_attachments[][_delete]"/> Delete<br/>
	  <div class="attachment-description">
	    <%= attach.description.blank? ? content_tag("p", I18n.t("posts.no_attachment_description")) : simple_format(attach.description) %>
	  </div>
	  <input type="hidden" name="delete_attachments[][id]" value="<%= attach.id %>"/>
	</p>
      </div>
    <% end %>

    <!-- Target for JavaScript -->
  </div>
<% end %>

<%= call_hook(:view_reply_post_content, :post => post, :form => form) %>
