<% form_for post, url(:posts, :create, topic.id), :method => :post, :class => "quickreply-form" do |f| %>
  <h2><%= I18n.t("topics.reply") %></h2>
  <p>
    <%= f.label :content %><br/>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :markup_language %>&nbsp;<%= f.select(:markup_language, :options => Post::MARKUP_LANGUAGES) %>
  </p>

  <p class="submit-separator">
    <%= f.submit I18n.t("general.create") %>
  </p>
<% end %>
