<h1><%= I18n.t("posts.edit_post") %></h1>

<% unless @post.errors.empty? %>
<div class="flash alert">
  <p><%= I18n.t("general.errors_occured") %></p>
  <ul>
    <% @post.errors.messages.each do |key, msg| %>
      <li><%= key %>: <%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% form_for @post, url(:posts, :update, @topic.id, @post.id), :method => :put do |f| %>
  <%= partial "posts/form_fields", :locals => {:form => f, :post => @post} %>

  <p class="submit-separator">
    <%= f.submit I18n.t("general.update"), :class => "button-ok" %>
  </p>
<% end %>
