<% content_for :sidebar do %>
  <%= partial "misc/personal_sidebar" %>
<% end %>

<h1><%= I18n.t("pms.overview") %></h1>

<% if @pms.empty? %>
  <p><%= I18n.t("pms.no_pms") %></p>
<% else %>

<table class="topicslist">
  <thead>
    <tr>
      <th class="list-icon imgcell"></th>
      <th class="list-topic">Topic</th>
      <th class="list-replies numbercell">Replies</th>
      <th class="list-views numbercell">Views</th>
      <th class="forumlastpost"><%= I18n.t("forums.lastpost") %></th>
    </tr>
  </thead>
  <tbody>
    <%= partial "personal_messages/index_pm", :collection => @pms %>
  </tbody>
</table>

<% end %>
