<% content_for :sidebar do %>
  <%= partial "misc/personal_sidebar" %>
<% end %>

<h1><%= I18n.t("pms.new_pm") %></h1>

<% unless @pm.errors.empty? %>
<div class="flash alert">
  <p><%= I18n.t("general.errors_occured") %></p>
  <ul>
    <% @pm.errors.messages.each do |key, msg| %>
      <li><%= key %>: <%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% form_for @pm, url(:personal_messages, :create), :method => :post do |f| %>

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :allowed_users %><br/>
    <%= f.text_field :allowed_users, :value => "", :placeholder => I18n.t("pms.recipient_placeholder") %>
  </p>

  <% f.fields_for :posts do |f2| %>
    <%= partial "personal_posts/form_fields", :locals => {:form => f2, :post => @pm.posts.first} %>
  <% end %>

  <p class="submit-separator">
    <%= f.submit I18n.t("general.create"), :class => "button-ok" %>
  </p>
<% end %>
