<% content_for :sidebar do %>
  <%= partial "misc/personal_sidebar" %>
<% end %>

<p class="post-forum"><%= I18n.t("models.personal_message.name") %></p>
<h1><%= @pm.title %></h1>

<div class="topic">
  <% @pm.posts.order(:created_at => :asc).each_with_index do |post, i| %>
    <%= partial "personal_posts/show", :locals => {:post => post, :i => i} %>
  <% end %>
</div>

<ul class="topic-actions">
  <% if @pm.author == env["warden"].user %>
    <li><%= link_to I18n.t("general.delete"), url(:personal_messages, :destroy, @pm.id) + "?authenticity_token=#{session[:csrf]}", :method => :delete, :confirm => I18n.t("general.are_you_sure"), :class => "button-error" %></li>
    <li><%= link_to I18n.t("general.edit"), url(:personal_messages, :edit, @pm.id), :class => "button-normal" %></li>
  <% end %>
  <li><%= link_to I18n.t("pms.reply"), url(:personal_posts, :new, @pm.id), :class => "button-normal" %></li>
</ul>
