<h3><%= I18n.t("settings.settings") %></h3>

<ul>
  <li><%= link_to I18n.t("settings.main_settings"), url(:settings, :show, env["warden"].user.nickname) %></li>
  <li><%= link_to I18n.t("avatars.avatar_settings"), url(:avatars, :show, env["warden"].user.nickname) %></li>
  <li><%= link_to I18n.t("settings.profile_settings"), url(:users, :edit, env["warden"].user.nickname) %></li>
</ul>

<h3><%= I18n.t("personal.misc") %></h3>

<ul>
  <li><%= link_to I18n.t("warnings.warnings"), url(:warnings, :user_index) %></li>
  <li><%= link_to I18n.t("reports.reports"), url(:reports, :user_index) %></li>
</ul>
