<% content_for :sidebar do %>
  <%= partial "misc/personal_sidebar" %>
<% end %>

<h1><%= I18n.t("personal.personal_area") %></h1>

<p>
  <%= I18n.t("personal.stats", :postcount => @postcount, :topiccount => @topiccount, :signtime => I18n.l(@signtime, :format => :long), :pmcount => @pmcount, :ppcount => @ppcount) %>
</p>

<p>
  <%= I18n.t("personal.stats2", :watchcount => @watchcount, :lastlogintime => I18n.l(@lastlogintime, :format => :long)) %>
</p>

<% if @user.forced_rank? %>
  <%= I18n.t("personal.rank", :rank => @user.forced_rank) %>
<% end %>
