<% content_for :sidebar do %>
  <%= partial "administration/sidebar" %>
<% end %>

<h1><%= I18n.t("admin.forum_groups.forum_groups") %></h1>

<% form_tag url(:administration, :update_forum_groups), :method => :patch do %>
<table>
  <thead>
    <tr><th><%= I18n.t("models.forum_group.attributes.name") %></th><th><%= I18n.t("models.forum_group.attributes.ordernum") %></th><th><%= I18n.t("general.actions") %></th></tr>
  </thead>
  <tbody>
    <% @forum_groups.each_with_index do |group, i| %>
      <% fields_for group do |fields| %>
	<tr>
	  <td><%= fields.hidden_field :id, :name => "forum_group[id][]" %><%= fields.text_field :name, :name => "forum_group[name][]" %></td>
	  <td><%= fields.text_field :ordernum, :name => "forum_group[ordernum][]" %></td>
	  <td><%= link_to I18n.t("general.delete"), url(:administration, :destroy_forum_group, group.id) + "?authenticity_token=#{session[:csrf]}", :class => "button-error", :confirm => I18n.t("general.are_you_sure"), :method => :delete %>
	</tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<p class="submit-separator">
  <%= submit_tag I18n.t("general.update"), :class => "button-ok" %>
  <%= link_to I18n.t("admin.forum_groups.new"), url(:administration, :new_forum_group), :class => "button-normal" %>
</p>
<% end %>
