<% content_for :sidebar do %>
  <%= partial "administration/sidebar" %>
<% end %>

<h1><%= I18n.t("admin.forum_groups.new") %></h1>

<% form_for @forum_group, url(:administration, :create_forum_group) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p class="submit-separator">
    <%= submit_tag I18n.t("general.create"), :class => "button-ok" %>
  </p>
<% end %>
