<h1><%= I18n.t("reports.all_reports") %></h1>

<% @reports.each do |report| %>
  <div class="report">
    <p>
      On <%= I18n.l(report.created_at, :format => :long) %>, <%= link_to report.user.nickname, url(:users, :show, report.user.nickname) %>
      reported <%= link_to "the following post", url(:topics, :show, report.post.topic.id) + "#p#{report.post.id}" %>
      from the topic <strong><%= report.post.topic.title %></strong>:
    </p>
    <div class="report-post">
      <p><%= I18n.t("models.post.attributes.author_id") %>: <%= link_to report.post.author.nickname, url(:users, :show, report.post.author.nickname) %></p>
      <div class="report-post-content">
	<%= process_markup(report.post.content, report.post.markup_language) %>
      </div>
    </div>
  </div>
<% end %>
