<% content_for :sidebar do %>
  <%= partial "misc/personal_sidebar" %>
<% end %>

<h1><%= I18n.t("reports.reports") %></h1>

<% if @reports.empty? %>
  <p><%= I18n.t("reports.no_reports") %></p>
<% else %>

<table>
  <thead>
    <tr><th>Date</th><th>User</th><th>Topic</th><th>Withdraw</th></tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
	<td><%= format_time report.created_at %></td>
	<td><%= link_to report.post.author.nickname, url(:users, :show, report.post.author.nickname) %></td>
	<td><%= link_to report.post.topic.title, url(:topics, :show, report.post.topic.id) + "#p#{report.post.id}" %></td>
	<td><%= link_to I18n.t("general.withdraw"), url(:reports, :destroy, report.id) + "?authenticity_token=#{session[:csrf]}", report.id, :method => :delete, :confirm => I18n.t("general.are_you_sure"), :class => "button-error" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
