<h1><%= I18n.t("reports.report") %></h1>

<% unless @report.errors.empty? %>
<div class="flash alert">
  <p><%= I18n.t("general.errors_occured") %></p>
  <ul>
    <% @report.errors.messages.each do |key, msg| %>
      <li><%= key %>: <%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% form_for @report, url(:reports, :create), :method => :post do |f| %>

  <%= f.hidden_field :post, :value => @post_id %>

  <p><%= I18n.t("reports.report_info") %></p>

  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>
  
  <p class="submit-separator">
    <%= f.submit I18n.t("reports.report_this"), :class => "button-ok" %>
  </p>
<% end %>
