<div id="footer">
  <div id="time">
    <p>
      <%= Time.now.strftime("%Y-%m-%d %H:%M:%S %:z") %><br/>
      <a href="https://github.com/Quintus/chessboard">Chessboard</a>
    </p>
  </div>
  <div id="stats">
    <ul>
      <li>Posts: <%= Post.count %></li>
      <li>Topics: <%= Topic.count %></li>
      <li>Members: <%= User.count %></li>
      <li>Newest member: <%= User.order(:created_at => :desc).limit(1).first.nickname %></li>
    </ul>
  </div>
</div>
