<div id="navigation">
  <ul>
    <li><%= link_to(I18n.t("general.index"), url(:forums, :index)) %></li>

    <% if env["warden"].authenticated? %>
      <li><%= link_to I18n.t("personal.personal_area"), "/personal" %></li>
      <% if env["warden"].user.admin? %>
	<li><%= link_to I18n.t("general.administration"), "/" %></li>
      <% end %>
      <% if env["warden"].user.admin? || env["warden"].user.moderator? %>
	<li><%= link_to I18n.t("general.moderation"), url(:reports, :index) %></li>
      <% end %>
      <li><%= link_to I18n.t("users.list"), url(:users, :index) %></li>
    <% else %>
      <li><%= link_to I18n.t("general.register"), url(:users, :new) %></li>
    <% end %>

    <% if env["warden"].authenticated? %>
      <li><a href="/logout"><%= I18n.t("general.log_out") %></a></li>
    <% else %>
      <li><a href="/login"><%= I18n.t("general.log_in") %></a></li>
    <% end %>
  </ul>
</div>
