<div id="navigation">
  <ul>
    <li><%= link_to(I18n.t("general.index"), url(:forums, :index)) %></li>

    <% if env["warden"].authenticated? %>
      <li><%= link_to I18n.t("settings.settings"), url(:settings, :main) %></li>
      <% if env["warden"].user.admin? %>
	<li><%= link_to I18n.t("general.administration"), "/" %></li>
      <% end %>
      <% if env["warden"].user.admin? || env["warden"].user.moderator? %>
	<li><%= link_to I18n.t("general.moderation"), url(:reports, :index) %></li>
      <% end %>
    <% else %>
      <li><a href="/register"><%= I18n.t("general.register") %></li>
    <% end %>

    <% if env["warden"].authenticated? %>
      <li><a href="/logout"><%= I18n.t("general.log_out") %></a></li>
    <% else %>
      <li><a href="/login"><%= I18n.t("general.log_in") %></a></li>
    <% end %>
  </ul>
</div>
