<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= @pagetitle || "Chessboard" %></title>
  </head>
  <body>
    <%= partial "layouts/header" %>

    <div id="navigation">
    </div>

    <div id="content">
      <%= flash_tag :alert, :class => "flash alert" %>
      <%= flash_tag :notice, :class => "flash notice" %>

      <%= yield %>
    </div>

  </body>
</html>
